@model IList<aspsession.ViewModels.Dean.SheetViewModel>

@{
    ViewData["Title"] = "Ведомости";
    Layout = "_DeanLayout";
}

<div class="action-area">
    <a class="btn btn-outline-success action-icon" href="/Dean/CreateSheet" title="Нажмите, чтобы добавить новую ведомость.">
        <i class="fas fa-plus-circle"></i>
    </a>
    <h3>Список ведомостей</h3>
</div>

@if (Model == null)
{
    <p><em>Список ведомостей пуст...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Номер ведомости</th>
            <th>Семестр</th>
            <th>Год</th>
            <th>Тип</th>
            <th>Группа</th>
            <th>Дисциплина</th>
            <th>Преподаватель</th>
            <th>Статус ведомости</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sheet in Model)
        {
            <tr>
                <td>@sheet.Id</td>
                <td>@sheet.Term</td>
                <td>@sheet.Year</td>
                <td>@sheet.Type</td>
                <td>@sheet.Group</td>
                <td>@sheet.Discipline</td>
                <td>@sheet.Teacher</td>
                <td>@sheet.Status</td>
                <td>
                    <div class="action-area">
                        @if (@sheet.Status == "Создана")
                        {
                            <a href='@Url.Action("UploadSheet", "Dean", new { id = sheet.Id }, null)' class="btn btn-outline-success action-icon" title="Нажмите, чтобы отправить ведомость преподавателю.">
                                <i class="fas fa-upload"></i>
                            </a>
                        }
                        @if (@sheet.Status == "Отправлена на проверку")
                        {
                            <a href='@Url.Action("UploadSheet", "Dean", new { id = sheet.Id }, null)' class="btn btn-outline-success action-icon" title="Нажмите, чтобы отправить ведомость преподавателю.">
                                <i class="fas fa-check"></i>
                            </a>
                        }
                        <a href='@Url.Action("DetailsSheet", "Dean", new { id = sheet.Id }, null)' class="btn btn-outline-primary action-icon" title="Нажмите, чтобы посмотреть подробную информацию о ведомости.">
                            <i class="fas fa-info"></i>
                        </a>
                        <a href='@Url.Action("EditSheet", "Dean", new { id = sheet.Id }, null)' class="btn btn-outline-secondary action-icon" title="Нажмите, чтобы редактировать ведомость.">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a href='@Url.Action("DeleteSheet", "Dean", new { id = sheet.Id }, null)' class="btn btn-outline-danger action-icon" title="Нажмите, чтобы удалить ведомость.">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
</table>
}